{% extends 'base.html' %}

{% block title %}PawPair | Home{% endblock %}

{% set container = "centered" %}

{% block content %}

    <div class="image-box">
      <img src="static/images/main_image.jpg">
    </div>

    <div class="text-box">
      <h2>Welcome to PawPair!</h2>
      <p>At PawPair, we believe that every pet deserves a loving home. That's why we created a matching service that connects pet lovers with shelter animals.</p> 
      <p>Our service is easy to use: simply create a profile and tell us about the type of pet you're looking for. We'll then match you with shelter animals that are a good fit for your lifestyle and needs.</p>
      <p><a href="/user_signup" class="cta-button">Create a profile and get started!</a></p>
    </div>

{% endblock %}