<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <!-- Navigation Header -->

  {% include 'components/topbar.html' %}
  
  <!-- Main Body -->
  <div class="background-gradient">

  {% if container=="centered" %}
  <div class="container-centered">    
  {% else %}
  <div class="container">    
  {% endif %}
  
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Navigation Footer -->
    {% include 'components/footer.html' %} 

  </div>
  </div>
    
</body>
</html>