{% extends 'base.html' %}

{% block title %}PawPair | Add Animal{% endblock %}

{% set container = "centered" %}

{% block content %}

      <div class="account-creation-form">
        <h2>Add an Adoptable Animal</h2>
      
        <form action="/add_shelter_animal" method="POST">

          <input type="text" name="animal_name" placeholder="Name" required>
          <br>
          
          <select class="dropdown-basic" name="animal_type" required> 
            <option value="" disabled selected>Select Animal Type</option>
            {% for type in animal_types %}
            <option value="{{ type[0] }}">{{ type[1] }}</option>
            {% endfor %}
          </select>

          <select class="dropdown-basic" name="animal_breed" required> 
            <option value="" disabled selected>Select Breed</option>
          </select>

          <select class="dropdown-basic" name="age" required> 
            <option value="" disabled selected>Select Age</option>
            <option value="Newborn">Newborn</option>
            <option value="Young">Young</option>
            <option value="Adult">Adult</option>
            <option value="Senior">Senior</option>
          </select>

          <select class="dropdown-basic" name="gender" required> 
            <option value="" disabled selected>Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Unknown">Unknown</option>
          </select>

          <br />
          <fieldset class="fieldset-basic">
            <legend><b>Dispositions:</b> select all that apply</legend>
            {% for disposition in dispositions %}
              <input type="checkbox" name="dispositions" value="{{ disposition[0] }}">
              <label>{{ disposition[1] }}</label>
              
              <!-- inserts line break every 2 checkboxes -->
              {% if loop.index is divisibleby 2 %}
                <br />
              {% endif %}

            {% endfor %}
          </fieldset>

          <input type="text" name="image_url" placeholder="Image URL (optional)">
          <br>

          <input type="text" name="description" placeholder="Description" required>
          <br>

          <input type="text" name="news_item" placeholder="News Item (optional)">
          <br>

          <select class="dropdown-basic" name="availability" required> 
            <option value="" disabled selected>Select Availability</option>
            <option value="Available">Available</option>
            <option value="Not Available">Not Available</option>
            <option value="Pending">Pending</option>
            <option value="Adopted">Adopted</option>
          </select>

          <input type="submit" class="cta-button" value="Add Animal">
        </form>
      </div>

      <!-- Reloads breed and age options based on type selection -->
      <script>
        const animal_type_select = document.querySelector('select[name="animal_type"]');
        const breed_select = document.querySelector('select[name="animal_breed"]');
        const age_select = document.querySelector('select[name="age"]');

        // Listen for user's animal type selection
        animal_type_select.addEventListener('change', (event) => {
            const selected_type = event.target.value;

            // Clear the breed and age options
            breed_select.innerHTML = '<option value="" disabled selected>Select Breed</option>';
            age_select.innerHTML = '<option value="" disabled selected>Select Age</option>';

            // Filter the animal breeds based on the selected animal type
            const animal_breeds = JSON.parse('{{ animal_breeds | tojson | safe }}');
            const filtered_breeds = animal_breeds.filter(breed => breed[2].toString() === selected_type);

            // Add the filtered breeds to the breed select
            filtered_breeds.forEach(breed => {
                const option = document.createElement('option');
                option.value = breed[0];
                option.text = breed[1];
                breed_select.add(option);
            });

            // Add the type-specific age to the age select
            function add_age_option(age) {
              const option = document.createElement('option');
              option.value = age;
              option.text = age;
              age_select.add(option)
            }
            if (selected_type === '1') {
              add_age_option("Puppy");
            } else if (selected_type === '2') {
              add_age_option("Kitten");
            } else {
              add_age_option("Newborn");
            }
            add_age_option("Young");
            add_age_option("Adult");
            add_age_option("Senior");                
        });
      </script>

{% endblock %}
